/node_modules
/public/hot
/public/storage
/vendor
/.scannerwork
.github/workflows/production.yml
.github/workflows/staging.yml
/logs

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
production.yml
staging.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.save
